* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
    padding: 40px 20px;
    align-items: center;
    position: fixed;
    width: 100%;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu-items .item {
    color: white;
    padding: 2px 20px;
}

.logo {
    padding: 2px 10px;
}